.navbar {
	background-color: #cff1ff; /***light blue***/
	border-radius: 0;
}

.navbar-default .navbar-brand {
	color: #0a2263; /***navy blue***/
	font-size: px;
	font-weight: bold;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ebb93b; /***mustard***/
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
	color: #0a2263; /***navy blue***/
	font-size: 16px;
	padding: 10px;
}

.navbar-toggler {
	color: #ffffff;
	border-color: #ffffff;
	background-color: #10359c; /***dark blue***/
	border-radius: 4px;
	border: 1px solid;
	fill: #ffffff;
	font-size: 16px;
	position: relative;
	margin-right: 10px;
}

.navbar-toggler: hover,
.navbar-toggler: focus {
	background-color: #ffffff;
	color: #000000;
	fill: #000000;
	border-color: #ffffff;
}

.navbar-footer{
	margin-top: 3%;
}

.jumbotron {
	background-image: url("../assets/self-portrait.png");
	background-size: cover;
	width: 100%;
	text-align: center;
	color: #cff1ff; /***light blue***/
	text-shadow: 1px 1px 5px #525252; /***dark grey***/
	padding: 10%;
	border-radius: 0px;
}

.jumbotron h2 {
	font-size: 36px;
	font-weight: bold;
}

.jumbotron p {
	font-size: 21px;
}

.card-body {
	background-color: #10359c; /***dark blue***/
	border-width: 2px;
	border-style: solid;
	border-color: #ffffff; /***white***/
}

body {
	font-family: 'Geneva', sans-serif;
	background-color: #0a2263; /***navy blue***/
	color: #ffffff;
}

h1 {
	color: white;
}

h2 {
	color: #cff1ff; /***light blue***/
}

h3 {
	color: #cff1ff; /***light blue***/
	font-size: 36px;
	margin-top: 25px;
	margin-bottom: 15px;
}

h4 {
	color: #cff1ff; /***light blue***/
	font-weight: bold
}

h5 {
	font-weight: bold;
}

h6 {
	font-weight: bold;
}

p {
	margin-top: 10px;
}

a:hover {
	color: #ebb93b; /***mustard***/
	text-decoration: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #0a2263; /***navy blue***/
}

.card:hover .overlay {
  opacity: .75;
}

.col-md-4 {
	margin-bottom: 3%;
}

.col-md-6 {
	margin-bottom: 3%;
}

.col-md-8 {
	margin-bottom: 3%;
}

.col-mo-12 {
	margin-bottom: 3%;
}

.text {
  color: white;
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.fa {
  padding: 50px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  color: #cff1ff; /***light blue***/
  padding: 1%;
}

.fa-twitter:hover {
	color: #ebb93b; /***mustard***/
}

.fa-linkedin-in {
	color: #cff1ff; /***light blue***/
	padding: 1%;
}

.fa-linkedin-in:hover {
	color: #ebb93b; /***mustard***/
}

.fa-github {
	color: #cff1ff; /***light blue***/
	padding: 1%;
}

.fa-github:hover {
	color: #ebb93b; /***mustard***/
}

.fa-copyright {
	color: #cff1ff; /***light blue***/
}